.default-selector {
    margin: 20px;
    background: var(--selector-color);
    padding: 10px 20px 10px 20px;
    border: 2px solid var(--outline-selector-color);

    /* Disable 'gradient' effect on Safari */
    -webkit-appearance: none;
}
