.tile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    font-size: 2.3rem;
    background-color: var(--tile-color);
    border-radius: 15%;
}

.correct {
    background-color: var(--correct-color);
}

.in-word {
    background-color: var(--in-word-color);
}
